@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */

#navcon {
    display: flex;
    flex-flow: column wrap;
    background-color: #02040F;
    opacity: 0.8; 
    padding: 1rem;
    justify-content: center;
    align-items: center;
    /* position: sticky; */
}

.logo {
    color: #fff;
    font-size: 1.7rem;
    display: flex;
    padding: 1rem 0;
    /* align-self: center; */
}

.logo .mb {
    margin-left: 0.5rem;
}

.logo .fas {
    margin-right: 0.3rem;
}


.green {
    color: #93cb52;
}

ul {
    list-style-type: none;
    display: flex;
    align-self: center;
    padding: 1rem 0;
    /* flex: 1; */
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    padding: 1rem 1rem;
    margin: 0 auto;
    border-radius: 10%;
}

/* Showcase */

#showcase {
    background-image: url("../images/showcase.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
}

#showcase .showcase-content {
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

#showcase .showcase-content .l-heading {
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    padding: 1rem 1rem;
}

#showcase .showcase-content p {
    font-size: 1.3rem;
    line-height: 2;
    text-align: center;
    padding: 2rem 1rem;
}

#showcase .showcase-content .read {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 1rem 1rem;
    background-color: #93cb52;
    font-size: 1.2rem;
    border-radius: 10%;
}


/* section */

#seccon .sec-head{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 2rem;
}

#seccon .item {
    display: flex;
    flex-flow: column wrap;
    padding: 1rem 1rem;
    margin: 0 auto;
}

/* about */

#about {
    display: flex;  
    flex-flow: column;
    height: 100vh; 
}

#about .img {
    display: none;
}

#about .content {
    flex: 1;
    padding: 2rem 2rem;
    background-color: #02040F;
    opacity: 0.8;
    color: #fff;
}

#about .content h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1rem 0;
}

#about .content p {
    font-size: 1.8rem;
    padding: 1.5rem 0;
    text-align: justify;
}

#about .content ul {
    display: flex;
    flex-flow: column wrap;
    list-style-type: none;
    text-align: center;
}

/* clients */

#clients .ourclients {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    font-size: 3rem;
    /* padding-top: 20rem; */
}

#clients .citems {
    display: flex;
    justify-content: space-evenly;
}

#clients .citems .clienti {
    display: block;
    margin: auto;
    width: 50%;
    padding: 5rem 0;
}


/* Contact */

#contact {
    display: flex;
    /* background-color: #93cb52; */
}

#contact .contact-form {
    display: flex;
    flex-flow: column;
    flex: 1;
    padding: 2rem 0;
    background-color: #93cb52;
}

#contact .contact-form h1 {
    font-size: 1.5rem;
    /* text-align: center; */
    margin: 0 3rem;
    padding: 2rem 1rem;
}

#contact .contact-form form {
    display: flex;
    flex-flow: column wrap;
    /* margin: 0 4rem; */
}

#contact .contact-form form label {
    display: block;
    width: 50%;
    padding: 1rem 0;
    font-size: 1.5rem;
}

#contact .contact-form form .name input, #contact .contact-form form .mail input, #contact .contact-form form .phone input, #contact .contact-form form .msg input {
    margin: 1rem 0;
    width: 100%;
    padding: 0.5rem 0;
}

#contact .contact-form form .msg textarea {
    margin: 1rem 0;
    width: 100%;
    padding: 0.5rem 0;    
}

#contact .contact-form form .btn {
    width: 100%;
    padding: 1rem 0;
    margin: 0 auto;
    text-align: center;
}


#contact .map {
    display: none;
}

/* footer */

#foot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02040F;
    opacity: 0.8;
    color: #fff;
    padding: 1rem 0;
    margin: 0 auto;
    font-size: 1.2rem;
}

@media (max-width: 320px) {
    #clients .ourclients {
        /* display: flex;
        justify-content: center; */
        text-align: center;
        font-size: 3rem;
        padding-top: 20rem;
    }
}